<h1>Create a Course</h1>

<div class="row">
<form class="col s6">

    <div >
        <input id="course_title" type="text" placeholder="Math" ng-model="course.title" class="validate">
        <label for="first_name">Title</label>
    </div>

    <div>
        <input id="course_description" type="text" placeholder="Standard math class with weekly homework . . ." ng-model="course.description" class="validate">
        <label for="course_description">Description</label>
    </div>

    <div>
        <input id="course_number" type="text" placeholder="MATH 123" ng-model="course.course_number" class="validate">
        <label for="course_number">Course Number</label>
    </div>

    <div>
        <input id="professor" type="text" placeholder="Dr. Hollander" ng-model="course.professor" class="validate">
        <label for="professor">Professor</label>
    </div>
</form>
</div>




<div class="row">
 <a class='dropdown-button btn' data-beloworigin="true"  data-activates='dropdown5'>Drop Me!</a>
  <ul id='dropdown5' class='dropdown-content'>
    <li ng-repeat="semester in semesters" style="text-align: center" value="(( semester.id ))" ng-click="setSemester(semester.id)"><a>(( semester.season )) (( semester.year ))</a></li>
  </ul>
</div>

<!-- 
<select>
<option>asfasdasdasads</option>
<option>asdsdadsad1212313</option>
</select> -->


<button class="btn waves-effect waves-light" type="submit" ng-click="create_course()">Submit
    <i class="material-icons right">send</i>
</button>



